<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:epub="http://www.idpf.org/2007/ops">
  <head>
    <title>{{{title}}}</title>
    <link rel="stylesheet" type="text/css" href="stylesheet.css" />
  </head>
  <body>
    <div>
      <h1 id="toc-title">{{{title}}}</h1>
      <ol class="toc">
        <li id="toc-li-1">
          <a href="chapter.xhtml">
            <span>{{{title}}}</span>
          </a>
          <ol class="toc">
            {{{content}}}
          </ol>
        </li>
      </ol>
    </div>
  </body>
</html>
