/Pharo.changes
/Pharo.image
/pharo-vm
/pharo-ui
/vm.sh
/vm-ui.sh
/pharo
/pillar
files/
/package-cache
/PharoByExample.pdf
/PharoByExample.tex
/UpdatedPharoByExample.tex
/book-result/
stderr
stdout
stdin
play-cache/

# Emacs
\#*#
*~
/pillarPostExport.sh
/book-result
*.log
