*.aux
*.glo
*.idx
*.log
*.out
*.toc
*.url
*.synctex.gz
*.pier.pdf
*.pier.tex
*.pier.html
*.pillar.pdf
*.pillar.tex
*.pillar.html
/crash.dmp
.DS_Store
/Pharo.changes
/Pharo.image
/pharo-vm
/pharo-ui
/vm.sh
/vm-ui.sh
/pharo
/pillar
auto/
files/
/package-cache
/PharoByExample.pdf
/PharoByExample.tex
