<!DOCTYPE html>
<html>
  <head>
    <title>{{site_name}}</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link rel="shortcut icon" href="images/favicon.png" type="image/x-icon" />
<link href="{{base_url}}/_support/html/css/font-awesome.min.css" rel="stylesheet">
<link href="{{base_url}}/_support/html/css/nucleus.css" rel="stylesheet">
<link href="{{base_url}}/_support/html/css/flex.css" rel="stylesheet">
<link rel="stylesheet" href="{{base_url}}/_support/html/highlightjs/styles/default.css">
<link rel="stylesheet" href="{{base_url}}/_support/html/css/highlight-commands.css">
<link rel="stylesheet" href="{{base_url}}/_support/html/css/bootstrap.min.css">
<script src="{{base_url}}/_support/html/js/jquery-2.x.min.js"></script>
<script src="{{base_url}}/_support/html/highlightjs/highlight.pack.js"></script>
<script src="{{base_url}}/_support/html/js/highlight-commands.js"></script>
<meta name="description" content="{{{description}}}">
{{{# attribution}}}<meta name="author" content="{{{attribution}}}">{{{/ attribution}}}
  </head>
  <body>
    <header>
  <div class="logo">
    <a class="baselink" href="{{base_url}}">{{site_name}}</a>
  </div>
  <div class="burger"><a href="javascript:void(0);" style="font-size:15px;">&#9776;</a></div>
  
</header>
<article>
  <aside>
    <ul class="menu">
   		<li data-nav-id="123" class="dd-item">
    		<a href="{{base_url}}">
		       <i class="fa fa-fw fa-home"></i>
	    	</a>
        </li>

		{{# toc.children}}
		  <li class="dd-item {{# hasChildren}} haschildren {{/ hasChildren}}">
			<div>
			  <a href="{{base_url}}{{href}}">
					{{name}}
			  </a>
			  {{# hasChildren}} <i class="fa fa-angle-right fa-lg category-icon"></i> {{/ hasChildren}}
			</div>
			  <ul class="dd-item">
				{{# children }}
		   	  	<li class="dd-item {{# hasChildren}} haschildren {{/ hasChildren}}">
					<div>
						<a href="{{base_url}}{{href}}">
							{{name}}
						</a>
						{{# hasChildren}}<i class="fa fa-angle-right fa-lg category-icon"></i>{{/ hasChildren}}
					</div>

					<ul class="dd-item">
					{{# children }}		
						<li class="dd-item">
							<a href="{{base_url}}{{href}}">{{name}}</a>
						</li>
					{{/ children }}
					</ul>						
				</li>
				{{/ children }}
			  </ul>
		  
		  </li>
		{{/ toc.children}}
    </ul>
  </aside>

  <section class="page">
    
	<h1>{{title}}</h1>
		
	{{{content}}}

  </section>

</article>

<footer>

<div class="footline">
    <div class="github-link">
      <a href="" target="blank"><i class="fa fa-code-fork"></i>Github</a>
    </div>
  </div>
</footer>

<script src="{{base_url}}/_support/html/js/clipboard.min.js"></script>

<link href="{{base_url}}/_support/html/css/featherlight.min.css" rel="stylesheet">
<script src="{{base_url}}/_support/html/js/featherlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<script src="{{base_url}}/_support/html/js/flex.js"></script>
<!-- Prettify annotated paragraphs-->
    <script src="{{base_url}}_support/html/js/annotated-paragraphs.js"></script>

  </body>
</html>
